<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVAP</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <img src="./logo.png">
                </div>
                <h2>Sistema de Ocorrências</h2>
                <h2>UNIVAP Centro</h2>
            </div>

            <div class="login_body">
                <form>
                    <div class="input_box">
                        <input type="text" placeholder="Registro ou CPF" id="registrocpf" required>
                    </div>

                    <div class="input_box">
                        <input type="password" placeholder="Senha" id="senhatxt" required>
                    </div>
                    <div class="forget_passoword">
                        <p>Esqueceu sua senha ? <a href="#">Clique aqui!</a></p>
                    </div>

                    <div>
                        <button id="buttonOK" type="button" class="buttonOK">Entrar</button>
                    </div>

                    <div id="error-message" class="errorMensagge" style="display: none;"></div>
                </form>
            </div>
        </div>
    </main>

    <script>
        const mensage_error = document.getElementById("error-message");
        const buttonOK = document.getElementById("buttonOK");
        const registrocpf = document.getElementById("registrocpf");
        const senhatxt = document.getElementById("senhatxt");
        
        buttonOK.onclick = function() { 
            login();
        };

        function login() { 
            let registro = registrocpf.value;
            let senha = senhatxt.value;

            let jsonEnvio = { 
                "registrocpf": registro,
                "senha": senha
            };

            let uri = '/funcionarios/login';
            fetch(uri, {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonEnvio)
            }).then((response) => {
                return response.text();
            }).then((data) => {
                processarResultados(data)
                
            }).catch((error) => {
                console.log( error);
            });

        }
        function processarResultados(texto_json) { 
            respJson = JSON.parse(texto_json)
            try {
                if (respJson.status == false) {
                    mensage_error.textContent = respJson.error;
                    mensage_error.style.display = "block";
                    return;
                } else {
                    mensage_error.style.display = "none";
                    localStorage.setItem("Funcionario", JSON.stringify(respJson));
                    if (respJson.cargo == 1){
                        window.location.href = "../html/paginaCoordenacao.html";
                    }else {
                        window.location.href = "../html/paginaProfessor.html";
                    }
                }   
            } catch (error) {
                console.error("Erro ao processar o JSON:", error);
                mensage_error.textContent = "Erro ao processar a resposta do servidor.";
                mensage_error.style.display = "block";
            }    
        }
    </script>
</body>
</html>
