*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
    
}

/* Classes Página Ocorrencias>*/
.cabecalho{
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 20px;
    height: 80px;
    background-color: #ddd;
}

.form-container {
    padding-left: 20px;
    width: 800px; /* Largura do formulário */
    max-width: 1000px; /* Evita que fique muito grande */
    z-index: 0;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 7px;
}

.dadosFormsCoordenacao{
    padding-top: 10px;
    padding-right: 10px;
    flex: 1;
}

.dadosFormsCoordenacao.nome{
    flex: 3;
}

.dadosFormsCoordenacao.sala{
    flex: 1;
}

.labelFormsCoordenacao{
    font-weight: 430;
    margin-bottom: 5px;
    padding-left: 7px;
}

.inputFormsCoordenacao{
    border: none;
    outline: none;  
    background-color: #eeeeee;
    border-radius: 12px;
    padding: 10px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #1b1b1b;
    width: 100%;
           
}

.textareaFormsCoordenacao{
    border: none;
    outline: none;  
    background-color: #eeeeee;
    border-radius: 12px;
    padding: 10px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #1b1b1b;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

.buttonFormsCoordenacao{
    padding: 10px;
}

.buttonFormsCoordenacao.enviar{
    
    background-color: #00488B;
    color: #eeeeee;
    border-radius: 5px;
    border-style: none;
}

.buttonRowCoordenacao{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

/*fim Classes Forms*/



.wrapper {
    display: flex;
     /* Menu e conteúdo lado a lado */
}

.menu-desktop{
    text-align:center;
    height: 100vh;
    padding: 20px;
    
    background-color: #00488B;
}

.container .texto-inicio{
    background-color: rgb(220, 218, 217);

}

.menu-desktop nav ul li {
    padding: 10px;
}


header .menu-desktop nav ul {
    list-style-type: none;

}


header .menu-desktop nav ul li a {
    list-style-type: none;
    display:block;
    margin: 10px 0 ;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
}


 .menu-desktop nav a:hover {
    list-style-type: none;
    transform: scale(1.05);
}
.container {
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo em coluna */
    padding: 20px;
    height: 100%;
}

.box-dadosRecentes{
    background-color: rgb(220, 218, 217);

    margin-bottom: 50px;
}
.box-ocorrenciasPendentes h3 {
    padding-left: 10px;
}

.box-AlunosAlerta{
    background-color: rgb(220, 218, 217);

}
.horizontal { 
    max-width: 640px;
    padding-right: 20px;
    width: 100%;
    margin-right: auto;
    display: flex;
    height: 100vh;
    flex-direction: column; 
}
.caixas {

    display: flex;
    justify-content: center; /* Centraliza as caixas */
    gap: 15px;
    margin-top: 70px;
}

.box-pequeno {
    width: 200px;
    padding: 20px;
    background-color: rgb(218, 100, 41);
    text-align: center;
}


/* estilizacao do menu mobile*/

.menu-mobile { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00488B;
    transform: translateY(-100%); /* Esconde o menu fora da tela */
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0; /* Menu invisível inicialmente */
    z-index: 1000; /* Fica acima do formulário */
    height: 100vh;
    overflow: hidden;
}

/* Quando o menu abre */
.menu-mobile.abrir {
    transform: translateY(0); /* Mostra o menu */
    opacity: 1; /* Torna visível */
}

.menu-mobile nav a { 
    list-style-type: none;
    display:block;
    margin: 30px 0 15px 0 ;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 30px;

    transition: 0.2s;
}

.menu-mobile nav a:hover {
    list-style-type: none;
    transform: scale(1.05);
    background-color:#0a5397;
}

#btn-menu{
    background: transparent;
    width: 50px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: 0.2s;
    display: none;
    z-index: 1900;

}

.linha {
    position: relative;
    height: 3px;
    background: #fff;
    display: block;
    width: 25px;
    margin: 5px auto;
    transform-origin: center;
    transition: 0.5s;
}
button.ativo .linha:nth-child(1) {
    transform: translateY(37.5px) rotate(-42deg);
    background-color: white;
    bottom: 67.5%;
}

button.ativo .linha:nth-child(3) {
    transform: translateY(-37.5px) rotate(42deg);
    background-color: white;
    top: 60%;
}

button.ativo .linha:nth-child(2){
    opacity: 0;
}

button.ativo {

        position: fixed; /* Fixa o botão na tela */
        top: 20px; /* Ajuste conforme necessário */
        right: 20px; /* Ajuste conforme necessário */
        z-index: 1900; /* Garante que fique acima do menu */
}


@media screen and (max-width:700px) {
    .menu-desktop nav ul  {
        display: none;
    }
    .menu-mobile.abrir{
        visibility: visible;
        height: 100vh;
    }
 
    #btn-menu {
        display: block;
        z-index: 1900;

    }
    .container{
        display: block;
    }
}


/*estilizacao do forms*/
.container-wrapper {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    text-align:center;
    gap: 20px; /* Espaço entre os elementos */
    padding: 20px;
}



.student-info {
    width: 200px; /* Largura do card */
    max-width: 300px;
    height: 330px;
    background-color: #1a75c4;
    color: white;
    padding: 15px;
    border-radius: 9px;
    display: none; /* Oculto inicialmente */
}

/* Responsividade para telas menores */
@media (max-width: 640px) {


    .form-container{
        width: 200px ;
    }
    .student-info{
        padding: 20px;
    }
    .form-container {
        width: 220px; /* Largura do formulário */
        max-width: 400px; /* Evita que fique muito grande */
    }
}


@media (max-width: 550px) {

    
    .menu-desktop {
        height: auto; /* A altura se ajusta automaticamente */
        width: 100%;  /* A barra ocupa toda a largura */
        padding: 10px 10px; /* Adiciona um espaço vertical */
    }

    .menu-desktop nav ul {
        display: flex; /* Torna a lista flexível */
        flex-direction: row; /* Alinha os itens horizontalmente */
        justify-content: space-around; /* Distribui o espaço igualmente */
        align-items: center; /* Centraliza os itens na vertical */
        padding: 0;
    }

    .menu-desktop nav ul li {
        padding: 7px; /* Ajusta o espaçamento entre os itens */
    }

    .menu-desktop nav ul  {
        display: none;
    }
    .form-container {
        width: 300px; /* Largura do formulário */
        max-width: 400px; /* Evita que fique muito grande */
    }

    .wrapper {
        flex-direction: column; /* Coloca o conteúdo em coluna */
    }
}


@media (max-width: 340px) { /* CORRETO */


    .divpesquisa{display: none;}
}
    .suggestions {
        border: 1px solid #ddd;
        border-radius: 9px;
        max-height: 150px;
        overflow-y: auto;
        position: absolute;
        background: white;
        width: 85%;
    }
    .suggestions div {
        padding: 10px;
        cursor: pointer;
    }
    .suggestions div:hover {
        background-color: #f0f0f0;
    }

    .modal-title{
        margin-bottom: 10px;
    }